<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucas.excel.lucasexcel.mapper.DemoMapper" >
    <resultMap id="WeiDianMap" type="com.lucas.excel.lucasexcel.model.WeiDianModel" >
        <id column="uuid" property="uuid"/>
        <result column="weibo" property="weiBo"/>
        <result column="qq" property="qq"/>
        <result column="weidian" property="weiDian"/>
        <result column="iftail" property="ifTail"/>
        <result column="ifbone" property="ifBone"/>
    </resultMap>

    <insert id="save" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="uuid">
        insert into yanyan.weidian_info
        (weibo, qq, weidian, iftail, ifbone)
        values
        <foreach collection="list" item="model" separator=",">
            (
             #{model.weiBo},#{model.qq},#{model.weiDian},#{model.ifTail},#{model.ifBone}
            )
        </foreach>
    </insert>

    <insert id="saveSYH" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="uuid">
        insert into yanyan.weidian_songyuanhui_pu_info
        (weibo, qq, weidian, color, `count`, ifbone)
        values
        <foreach collection="list" item="model" separator=",">
            (
             #{model.weiBo},#{model.qq},#{model.weiDian},#{model.color},#{model.count},#{model.ifBone}
            )
        </foreach>
    </insert>
</mapper>